
# 服务器 IP 和端口配置
export HOST=127.0.0.1
export PORT=8090

# Gerrit 配置
export GERRIT_SSH_PORT=29418
export GERRIT_WEBURL="http://${HOST}:${PORT}/gerrit/"


# Container 内部端口
export NGINX_CONTAINER_PORT=80
export GERRIT_CONTAINER_HTTP_PORT=8080
export GERRIT_CONTAINER_SSH_PORT=29418
